---
import BadgeTecnologie from "@/components/ui/BadgeTecnologie.astro";
import IconCheck from "@/components/icons/IconCheck.astro";
import Button from "@/components/atoms/Button.astro";
import type { ProjectDetailsType } from "@/components/ui/ProjectModalContent.astro";
import Modal from "@/components/ui/Modal.astro";
import ProjectModalContent from "@/components/ui/ProjectModalContent.astro";

interface Props {
  urlImage: string;
  urlLink: string;
  urlMore: string;
  title: string;
  description: string;
  jobTitle: string;
  details: string[];
  tecnologies: string[];
  projectDetails: ProjectDetailsType;
}

const {
  urlImage,
  urlLink,
  urlMore,
  title,
  jobTitle,
  description,
  details,
  tecnologies,
  projectDetails,
} = Astro.props;
---

<div
  class={`flex flex-col  group bg-surface rounded-2xl border-color-border border md:flex-row `}
>
  <Modal id={jobTitle}>
    <ProjectModalContent {...projectDetails} />
  </Modal>
  <div class="w-full md:w-1/2 relative">
    <img
      class="rounded-2xl w-full h-72 md:h-[400px] object-top-left object-cover filter"
      src={urlImage}
      alt=""
    />
    <div
      class="absolute top-0 left-0 w-full h-full bg-zinc-700/30 duration-300 rounded-2xl group-hover:bg-zinc-700/20"
    >
    </div>
  </div>
  <div class="flex flex-col w-full md:w-1/2 p-4">
    <h3 class="text-secondary text-3xl font-bold text-left mt-3 md:mt-0">
      {title}
    </h3>
    <h4 class="text-zinc-400 italic">{jobTitle}</h4>
    <div class="flex mt-4">
      {tecnologies.map((tecnology) => <BadgeTecnologie name={tecnology} />)}
    </div>
    <p class="text-foreground-secondary mt-5">{description}</p>
    <div class="mt-3">
      {
        details.map((detail) => (
          <div class="flex gap-1 items-center text-lg text-white/90">
            <IconCheck className="fill-primary" width="20" height="20" />
            <span>{detail}</span>
          </div>
        ))
      }
    </div>

    <div class="mt-5 flex gap-3">
      {
        urlLink ? (
          <Button href={urlLink} target="_blank" intent="primary">
            Link
          </Button>
        ) : (
          <Button href={urlLink} target="_blank" intent="disabled">
            Link no disponible
          </Button>
        )
      }
      <Button intent="secondary" onclick={`toggleModal('${jobTitle}')`}>
        Ver más
      </Button>
    </div>
  </div>
</div>
