---
import BadgeTecnologie from "@components/ui/BadgeTecnologie.astro";
import IconCheck from "src/icons/IconCheck.astro";

interface Props {
  urlImage: string;
  urlLink: string;
  urlMore: string;
  title: string;
  description: string;
  jobTitle: string;
  details: string[];
  tecnologies: string[];
}

const {
  urlImage,
  urlLink,
  urlMore,
  title,
  jobTitle,
  description,
  details,
  tecnologies,
} = Astro.props;
---

<div
  class="flex md:flex-row flex-col items-center bg-gray-bg rounded-2xl border-[#fff1] border"
>
  <div class="w-full md:w-1/2 relative">
    <img
      class="rounded-2xl w-full h-72 md:h-[400px] object-top-left object-cover  filter"
      src={urlImage}
      alt=""
    />
    <div
      class="absolute top-0 left-0 w-full h-full bg-gradient-to-tr from-primary to-secondary opacity-15 rounded-2xl"
    >
    </div> 
  </div>
  <div class="flex flex-col w-full md:w-1/2 p-4">
    <h3 class="text-secondary text-3xl font-bold text-left mt-3 md:mt-0">
      {title}
    </h3>
    <h4 class="text-zinc-400 italic">{jobTitle}</h4>
    <div class="flex mt-4">
      {tecnologies.map((tecnology) => <BadgeTecnologie name={tecnology} />)}
    </div>
    <p class="text-gray mt-5">{description}</p>
    <div class="mt-3">
      {
        details.map((detail) => (
          <div class="flex gap-1 items-center text-lg text-white">
            <IconCheck className="fill-primary" width="20" height="20" />
            <span>{detail}</span>
          </div>
        ))
      }
    </div>

    <div class="mt-10 flex gap-3">
      <a
        target="_blank"
        href={urlLink}
        class="bg-primary text-white font-bold py-2 px-4 rounded-2xl hover:scale-105 transition-[0.3s]"
        >Link</a
      >
      <a
        href={urlMore}
        class="bg-secondary text-bg font-bold py-2 px-4 rounded-2xl hover:scale-105 transition-[0.3s]"
        >Ver más</a
      >
    </div>
  </div>
</div>
