---
import CardWork from "./CardWork.astro";
import { works } from "@/data/works";
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col w-full items-center gap-6">
    {
      works.map((work,i) => {
        const {
          description,
          jobTitle,
          details,
          tecnologies,
          title,
          urlImage,
          urlLink,
          urlMore
        } = work;
        return (
          <CardWork
            description={description}
            jobTitle={jobTitle}
            details={details}
            tecnologies={tecnologies}
            title={title}
            urlImage={urlImage}
            urlLink={urlLink}
            urlMore={urlMore}
          />
        );
      })
    }
  </div>
  <!--
    <a
      href=""
      class="py-2 px-4 relative text-center text-white/90 font-bold rounded-2xl border border-white/90"
      >Ver mas trabajos
    </a>
   -->
</div>
