---
import CardWork from "./CardWork.astro";
import { works } from "@/data/works";
---

<div class="flex flex-col gap-6">
  <div class="flex flex-col w-full items-center gap-6">
    {
      works.map((work,i) => {
        const {
          description,
          jobTitle,
          details,
          tecnologies,
          title,
          urlImage,
          urlLink,
          urlMore,
          projectDetails
        } = work;
        return (
          <CardWork
          projectDetails={projectDetails}
            description={description}
            jobTitle={jobTitle}
            details={details}
            tecnologies={tecnologies}
            title={title}
            urlImage={urlImage}
            urlLink={urlLink}
            urlMore={urlMore}
          />
        );
      })
    }
  </div>
</div>
