---
import React from "./Icons/React.astro";

import type { CollectionEntry } from "astro:content";
type Props = {
  project: CollectionEntry<"projects">;
  index: number;
};
const { project, index } = Astro.props;
---

<a
  href={`/projects/${project.slug}`}
  class="text-stone-200 cursor-pointer bg-container"
>
  <div class="relative flex flex-col sm:flex-row-reverse w-fit overflow-hidden">
    <div class="pl-4">
      <h2 class="font-semibold hover:text-rainbow">{project.data.title}</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ea hic
        voluptas necessitatibus
      </p>
      <div>
        <React />
      </div>
    </div>
    <div
      class="relative hover:shadow-lg overflow-hidden sm:max-w-[40%] bg-rainbow rounded-xl"
    >
      <img
        class="aspect-video object-cover transition-[1s] rounded-xl z-30"
        src={project.data.image}
        alt={project.data.title}
        transition:name={`image-${index}`}
      />
      <div
        class="pointer-events-none w-full h-full top-0 left-0 absolute bg-gradient-to-br opacity-30 from-[var(--color-1)] to-[var(--color-3)] rounded-xl"
      >
      </div>
    </div>
  </div>
</a>

<style>
  .bg-container:hover img {
    padding: 3px;
  }

  .bg-container:hover h2 {
    color: var(--color-3);
  }
  .bg-rainbow {
    position: relative;
  }
  .bg-rainbow::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: conic-gradient(
      from 0deg,
      var(--color-1),
      var(--color-2),
      var(--color-3),
      var(--color-1)
    );
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background-size: 400% 400%;
    animation: gradientMovement 1s ease-in-out alternate-reverse infinite;
  }

  @keyframes gradientMovement {
    0% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
</style>
