---
import type { CollectionEntry } from "astro:content";
type Props = {
  project: CollectionEntry<"projects">;
  index: number;
};
const { project, index } = Astro.props;
---

<a
  href={`/projects/${project.slug}`}
  class="hover:text-pink-500 dark:hover:text-pink-500 dark:text-stone-400"
>
  <div class="bg-rainbow rounded-lg transition-all">
    <img
      class="aspect-video object-cover rounded-lg w-96 hover:p-0.5"
      src={project.data.image}
      alt={project.data.title}
      transition:name={`image-${index}`}
    />
  </div>
  <h2 class="pt-4 font-semibold">{project.data.title}</h2>
</a>

<style>
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
