---
import Badge from "./Badge.astro";
interface Props {
  name: string;
}
const { name } = Astro.props;
---

<div>
  {
    name == "Astro" ? (
      <Badge name={name} className="bg-orange-500/20 border border-orange-500 text-orange-500 " />
    ) : name == "Figma" ? (
      <Badge name={name} className="bg-pink-500/20 text-pink-500 border border-pink-500  " />
    ) : name == "Typescript" ? (
      <Badge name={name} className="bg-blue-500/20 text-blue-500 border border-blue-500" />
    ) : name == "React" ? (
      <Badge name={name} className="bg-cyan-500/20 border border-cyan-500 text-cyan-500" />
    ) : name == "Tailwind" ? (
      <Badge name={name} className="bg-emerald-500/20 border border-emerald-500 text-emerald-500" />
    ) : (
      <Badge name={name} />
    )
  }
</div>
