---
import Badge from "./Badge.astro";
interface Props {
  name: string;
}
const { name } = Astro.props;
---

<div>
  {
    name == "Astro" ? (
      <Badge name={name} className="bg-[#ff6a3d]" />
    ) : name == "Figma" ? (
      <Badge name={name} className="bg-[#f21eab]" />
    ) : name == "Typescript" ? (
      <Badge name={name} className="bg-[#007acc]" />
    ) : name == "React" ? (
      <Badge name={name} className="bg-[#61DBFB]" />
    ) : name == "Tailwind" ? (
      <Badge name={name} className="bg-[#38B2AC]" />
    ) : (
      <Badge name={name} />
    )
  }
</div>
